import("methods")
import("ggplot2")
import("FLCore")
import("ggplotFL")
import("FLBRP")
import("FLasher")
importFrom("metR", "geom_contour2")

export(Fselex)
export(allcatch)
export(aopt)
export(brp.selex)
export(fabs)
export(fbar2f)
export(fitselex)
export(par2sa)
export(plotFselex)
export(ploteqselex)
export(ploteqselex_2)
export(plotselex)
export(r4col)
export(s50)
export(selage)
export(selex)
export(selex.backtest)
export(selexpars)
export(varselex)
export(plotselage)
export(as.ogive)
export(plotprjselex)
export(selex.fwd)
export(mleg)